.header-topbar {
    height: calc(28px + (44 - 28) * ((100vw - 500px) / (1920 - 500)));
    /*width: 100%;*/
    font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
    background-color: #1E212C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-topbar__link {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #1E212C;
    color: #ffffff;
    font-size: 14px;
}
.header-topbar__sign {
    display: flex;
}
.header-topbar__link-text {
    margin-left: 5px;
}
.header-content {
    height: calc(44px + (84 - 44) * ((100vw - 500px) / (1920 - 500)));
    background-color: #ffffff;
    border-bottom: 8px;
    border-bottom-color: #17696A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content__wrapper {
    display: flex;
}
.header-content__basket {
    color: #000000;
}
.header-content__iterator {
    font-size: 14px;
    text-align: center;
    height: fit-content;
    width: 20px;
    border-radius: 5px;
    background-color: #03CEA4;
}
.header-topbar__phone-number {
    color: white;
    font-size:  calc(10px + (14 - 10) * ((100vw - 500px) / (1920 - 500)));
}
.header-content__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content__menu {
    display: flex;
    list-style: none;
}
.header-content__link {
    font-size: calc(12px + (16 - 12) * ((100vw - 500px) / (1920 - 500)));
    color: #424551;
}
.header-content__menu-category {
    background-color: #f9f9f9;
    padding: calc(4px + (13 - 4) * ((100vw - 500px) / (1920 - 500))) calc(4px + (15 - 4) * ((100vw - 500px) / (1920 - 500)));;
    border-radius: 15px;
    margin-right: calc(3px + (10 - 3) * ((100vw - 500px) / (1920 - 500)));
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
.header__bottom {
    height: 8px;
    background-color: #17696A;
}

@media screen and (max-width: 768px){
    .header-content__menu {
        display: none;
    }
    .header-topbar__link {
        font-size: 12px;
        line-height: 12px;
    }
}